* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}
.card {
  background: white;
  border-radius: 20px;
  width: 320px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

}
.card:hover {
  box-shadow: 0 8px 16px 0 hsl(216, 15%, 48%);
}
.card img {
  width: 100%;
  border-radius: 12px;
}

.card h1 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #1f3251;
  margin: 20px 0 10px;
}
.card p {
  font-size: 0.95rem;
  color: #7b879d;
  margin: 0 10px 10px;
}
